/* 
    Author: Akezhan Bexeitov
    Theme: Restaurant Food Order
    Version: 1.0
*/

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.clearfix {
    clear: both;
    float: none;
  }

a {
    color: #ff6b81;
    text-decoration: none;
    transition: .5s;
}

a:hover {
    color: #ff4757;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-responsive {
    width: 100%;
}

.img-curve {
    border-radius: 10px;
}

.btn {
    padding: 1%;
    border: none;
    font-size: 1rem;
    transition: .5s;
    border-radius: 5px;
}

.btn-primary {
    background-color: #ff6b81;
    color: white;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #ff4757;
}

.text-center {
    text-align: center;
}

.text-white {
    color: white;
}

h2 {
    color: #2f3542;
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

.float-container {
    position: relative;
}

.float-text {
    position: absolute;
    bottom: 50px;
    left: 40%;
}


/* Header */
.logo {
    width: 15%;
}

.menu {
    display: flex;
    list-style-type: none;
}

.menu-item a {
    padding: 10px;
    margin: 0 10px;
    font-weight: bold;
}


/* Food Search */
.food-search {
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 7% 0;
}

.food-search input {
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search input {
    margin-right: 5px;
}


/* Categories */
.categories {
    padding: 4% 0;
}

.boxes {
    display: flex;
    justify-content: space-around;
    margin: 1.5rem;
}

.box {
    width: 28%;
}


/* Food Menu */
.food-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #ececec;
    padding: 4% 0;
}

.food-menu-item {
    width: 43%;
    margin: 1%;
    padding: 2%;
    background-color: white;
    border-radius: 15px;
}

.food-menu-img {
    width: 30%;
    float: left;
}

.food-menu-desc {
    width: 60%;
    float: left;
    margin-left: 8%;
}

.food-price {
    font-size: 1.2rem;
    margin: 2% 0;
}

.food-detail {
    font-size: 1rem;
    color: #747d8c;
}


/* Socials */
.social-links {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    width: 30%;
    margin: 0 auto;
}

.social-links i {
    font-size: 2.5rem;
}



/* Mobile Size */
@media only screen and (max-width: 768px) {
    .logo {
        width: 80%;
    }

    .container {
        flex-direction: column;
    }

    .navbar {
        margin: 2% 0;
    }

    .menu-item a {
        font-size: 25px;
    }

    .search input {
        width: 90%;
        margin-bottom: 2%;
        padding: 2%;
    }

    .btn {
        width: 90%;
        padding: 2%;
    }

    .search {
        flex-direction: column;
    }

    .boxes {
        flex-direction: column;
    }

    .box {
        width: 80%;
        margin: 4% auto;
    }

    .food-menu-item {
        width: 90%;
    }
}